{% load static %}
<nav class="navbar bg-navbar fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url "index" %}" target='_blank'>El Beni Avanza</a>
        <div class="dropdown dropdown-navbar">
            <button type="button" class="btn btn-dropdown-navbar dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                <img src="{% static "admin_ssu/img/users/default.png" %}" alt="" width="40px">
            </button>
            <div id="menu-profile" class="dropdown-menu dropdown-menu-end">
                <div class="user-info">
                    <div class="user-img">
                        <img src="{% static "admin_ssu/img/users/default.png" %}" alt="" width="70px">
                    </div>
                    <div class="user-name">
                        <p class="name">{{ request.user.username |upper }}</p>
                        <p class="email">{{ request.user.email }}</p>
                    </div>
                </div>
                <div class="dropdown-menu-links">
                    <li>
                        <a class="dropdown-item" href="{% url 'admin_ssu:user_profile' %}">
                            <i class="fa fa-user"></i> Perfil
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'admin_ssu:home' %}">
                            <i class="fa fa-home"></i> Inicio
                        </a>
                    </li>
                </div>
                <li class="dropdown-item">
                    <form method="post" action="{% url 'admin_ssu:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-logout">
                            <i class="fa fa-power-off"></i> Cerrar sesión
                        </button>
                    </form>
                </li>
            </div>
        </div>
    </div>
</nav>
<div class="navbar" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="offcanvas offcanvas-start text-bg-primary" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">El Beni Avanza</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_ssu:home' %}">
                            <i class="fa fa-home"></i>Inicio
                        </a>
                    </li>
                    {% if perms.report_potholes.view_pothole %}
                        {% comment %} <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin_ssu:report_potholes:solicitude_potholes' %}">
                                <i class="fa fa-location-arrow"></i>Solicitudes
                            </a>
                        </li> {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin_ssu:report_potholes:potholes_browse' %}">
                                <i class="fa fa-map-marker"></i>Puntos Registrados
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.report_potholes.view_category %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="	fa fa-sliders"></i> Opciones
                            </a>
                            <ul class="dropdown-menu">
                                {% if perms.report_potholes.view_category %}
                                <li>
                                    <a class="dropdown-item" href="{% url "admin_ssu:report_potholes:category_browse" %}">
                                        <i class="fa fa-bookmark"></i> Categorias
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.report_potholes.view_categoryprivate %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-sliders"></i> Mapa Dirigentes
                            </a>
                            <ul class="dropdown-menu">
                                {% if perms.report_potholes.view_categoryprivate %}
                                <li>
                                    <a class="dropdown-item" href="{% url "admin_ssu:report_potholes:categoryp_browse" %}">
                                        <i class="fa fa-bookmark"></i> Categorias private
                                    </a>
                                </li>
                                {% endif %}
                                {% if perms.report_potholes.view_agent %}
                                <li>
                                    <a class="dropdown-item" href="{% url "admin_ssu:report_potholes:agent_browse" %}">
                                        <i class="fa fa-user-secret"></i> Dirigentes
                                    </a>
                                </li>
                                {% endif %}
                                {% if perms.report_potholes.view_agent %}
                                <li>
                                    <a class="dropdown-item" href="{% url "admin_ssu:report_potholes:agent_map" %}">
                                        <i class="fa fa-map"></i> Mapa
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.auth.view_user or perms.auth.view_group or perms.auth.view_permission %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-lock"></i> Seguridad
                            </a>
                            <ul class="dropdown-menu">
                                {% if perms.auth.view_user %}
                                <li>
                                    <a class="dropdown-item" href="{% url "admin_ssu:user_view" %}">
                                        <i class="fa fa-user"></i> Usuarios
                                    </a>
                                </li>
                                {% endif %}
                                {% if perms.auth.view_group %}
                                <li>
                                    <a class="dropdown-item" href="{% url "admin_ssu:group_list" %}">
                                        <i class="fa fa-drivers-license"></i> Roles
                                    </a>
                                </li>
                                {% endif %}
                                {% if perms.auth.view_permission %}
                                <li>
                                    <a class="dropdown-item" href="{% url "admin_ssu:permission_list" %}">
                                        <i class="fa fa-key"></i> Permisos
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="">Cliente</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> {% endcomment %}

                {% comment %} <li class="nav-item">
                <a class="nav-link" href="{% url "administracion:servicios" %}">Servicios</a>
                </li> {% endcomment %}
            </ul>
            </div>
        </div>
    </div>
</div>