{% extends "admin_ssu/master.html" %}
{% block title %} Map {% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="heading">
                <i class="fa fa-map-marker"></i> Mapa del 
            </h1>
            <a href="{% url 'admin_ssu:report_potholes:solicitude_potholes' %}" class="btn btn-sm btn-warning"><i class="fa fa-arrow-left"></i> Volver</a>
            {% if perms.report_potholes.change_pothole %} 
            <a href="#" data-id="{{ pothole.id }}" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#aproveModal"><i class="fa fa-thumbs-up"></i> Aprobar</a>
            {% endif %}
            {% if perms.report_potholes.delete_pothole %} 
            <a href="#" data-id="{{ pothole.id }}" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fa fa-thumbs-down"></i> Descartar</a>
            {% endif %}
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div id="mapid" style="height: 400px; width: 100%;"></div>
                    <div class="table-responsive">
                        <div class="col-12">


                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="aproveModal" tabindex="-1" aria-labelledby="aproveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success" data-bs-theme="dark">
                <h1 class="modal-title fs-5" id="aproveModalLabel" style="color: white;"> <i class="fa fa-thumbs-up"></i> Aprobar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">  
                <p>¿Está seguro de que desea aprobar este registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-gray" data-bs-dismiss="modal">Cancelar</button>
                <form action="" method="POST" id="aproveForm">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Aprobar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger" data-bs-theme="dark">
          <h1 class="modal-title fs-5" id="deleteModalLabel" style="color: white;"> <i class="fa fa-trash"></i> Descartar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">  
            <p>¿Está seguro de que desea descartar este ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-gray" data-bs-dismiss="modal">Cancelar</button>
          <form action="" method="POST" id="deleteForm">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    $(document).ready(function() {
        $('#aproveModal').on('show.bs.modal', function(e) {
            var userId = $(e.relatedTarget).data('id');
            var url = "{% url 'admin_ssu:report_potholes:approve_pothole' 1234567890 %}".replace('1234567890', userId);
            $('#aproveForm').attr('action', url);
        });
    });
    $(document).ready(function() {
        $('#deleteModal').on('show.bs.modal', function(e) {
            var userId = $(e.relatedTarget).data('id');
            var url = "{% url 'admin_ssu:report_potholes:delete_pothole' 1234567890 %}".replace('1234567890', userId);
            $('#deleteForm').attr('action', url);
        });
    });
</script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var potholeData = {{ potholejs|safe }};
    var nearbyPotholesData = {{ nearby_potholes|safe }};

    var map = L.map('mapid').setView([parseFloat(potholeData.latitude), parseFloat(potholeData.longitude)], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 19,
    }).addTo(map);

    L.marker([parseFloat(potholeData.latitude), parseFloat(potholeData.longitude)]).addTo(map)
        {% if pothole.photo %}
        .bindPopup('<span>Actual.</span> <br/> <img src="{{ pothole.thumbnail.url }}" width="80px"/>')
        {% else %}
        .bindPopup('<span>Actual.</span> <br/> <span class="badge bg-secondary">Sin imagen</span>')
        {% endif %}
        .openPopup();
    var greenIcon = L.icon({
        iconUrl: 'https://cdn-icons-png.flaticon.com/128/889/889647.png',
        iconSize: [25, 41], // size of the icon
        iconAnchor: [0, 41], // point of the icon which will correspond to marker's location
        popupAnchor: [18, -40] // point from which the popup should open relative to the iconAnchor
    });
    for (var i = 0; i < nearbyPotholesData.length; i++) {
        L.marker([parseFloat(nearbyPotholesData[i].latitude), parseFloat(nearbyPotholesData[i].longitude)],{icon: greenIcon}).addTo(map)
            .bindPopup('<a href="' + nearbyPotholesData[i].url + '" target="_blank"> registrado.</a>');
    }
</script>
{% endblock js %}
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<style>
    .search-div {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }
    .search-div input {
        width: 15rem;
    }
    @media (max-width: 767px) {
        .pagi-hidden{
            display: none;
        }
    }
</style>

{% endblock css %}