<section>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <span class="navbar-brand d-flex flex-column">
                    <span class="title-logo">EL BENI</span>
                    <span class="subtitle-logo">AVANZA!!</span>
                </span>
            </div>
            <div class="col-3">

            </div>
            <div class="col-3">

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                
            </div>
            <div class="col-3">

            </div>
            <div class="col-3">
                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">© 2024 El Beni Avanza. Todos los derechos reservados.</p>
                <p class="text-center"><a href="https://codigosimple.dev" target="_blank">© CodigoSimple.dev</a></p>
            </div>
        </div>
    </div>
</section>