{% extends "admin_ssu/master.html" %}
{% block title %}Inicio{% endblock title %}
{% block content %}
<div class="container mt-5">
    {% comment %} <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div> {% endcomment %}
</div>
{% endblock content %}