{% extends "reportbump/layouts/base_page.html" %}
{% block title %} Proyecto {% endblock title %}
{% block content %}
<section id="home" class="home py-5">
    <div class="container">
        <a href="{% url "maps" %}" class="back">
            <i class="fa fa-arrow-circle-left"></i>
            <span>Volver</span>
        </a>
    </div>
    <div class="container">
        <div class="limit-text-container" >
            <p class="pre-subtitle-page">Proyecto</p>
            <h1 class="subtitle" style="font-size: 2rem; font-weight: 300">{{pothole.title}}</h1>
        </div>
        <div class="d-flex justify-content-center mb-5 ">
            {% if pothole.photo %}
                <img class="img" src="{{ pothole.display_image.url }}" alt="Imagen proyecto" style="min-width: 300; max-width: 600px">
            {% else %}
                <span class="badge bg-secondary">Sin imagen</span>
            {% endif %}
        </div>
        <h2>Gestión: {{pothole.year_management}}</h2>
        {% if pothole.category %}
            <p class="contenido">
                <strong>Categoria:</strong> {{ pothole.category.name }}
            </p>
        {% endif %}
        <p class="contenido">
            {{ pothole.description }}
        </p>
    </div>
</section>
{% endblock content %}
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{% endblock css %}
{% block js %}

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>

</script>
{% endblock js %}